body{
    background-image: url("/MyWebProject/img/download.jpg");
}
.container{
    padding-top: 50px;
    padding-left: 10%;
}
.summary{
    width: auto;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
    
}
.sub_total{
    margin-left: 60%;
    border: none;
}
.estimated_handling{
    margin-left: 60%;
    border: none;
}
.tax{
    margin-left: 60%;
    border: none;
}
.total{
    margin-left: 60%;
    border: none;
}
.box_total{
    border-top: 2px;
    border-bottom: 2px;
}
table{
    height: 80%;
}
th{
    padding-left: 20px;
}
.button{
    background-color: black;
    color: white;
    position: relative;
    left: 5%;
    border-radius: 10px;
    width: 90%;
    height: 35px;
}
.box_botton{
    margin-top: 10px;
    height: 35px;
}
.text{
    width: 30%;
}
.out_put{
   width: 70%; 
}
.out{
    text-align: center;
}
.footer{
    width: 100%;
    min-height: 300px;
    height: auto;
    background-color: black;
    color: white;
}

/* .contact li i{
    margin-left: -1px;
} */
footer img{
    width: 150px;
}
.bottom{
    padding-bottom: 0;
}
.right{
    height: 100%;
    padding-left: 25%;
}
#shop{
    color: #fff;
}
